<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_7f3ed53c080fc7d1f19aa3f6f4c39061 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_7f3ed53c080fc7d1f19aa3f6f4c39061" ></div>
        
</body>
<script>
    
    
            var map_7f3ed53c080fc7d1f19aa3f6f4c39061 = L.map(
                "map_7f3ed53c080fc7d1f19aa3f6f4c39061",
                {
                    center: [40.21584, -74.00979],
                    crs: L.CRS.EPSG3857,
                    zoom: 5,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_b1a02dac65220163065228922802cbba = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_7f3ed53c080fc7d1f19aa3f6f4c39061);
        
    
            var marker_40d3e8c5a2c6cb2e4058337291bb2523 = L.marker(
                [40.21584, -74.00979],
                {}
            ).addTo(map_7f3ed53c080fc7d1f19aa3f6f4c39061);
        
    
        var popup_e20626e609e494e089a6b0e9d8a16571 = L.popup({"maxWidth": 100, "minWidth": 100});

        
            
                var html_6ea963e2ce8ae783b0f4b3fd44703d6c = $(`<div id="html_6ea963e2ce8ae783b0f4b3fd44703d6c" style="width: 100.0%; height: 100.0%;"><i>Fecha: 2023-02-03<br>Hora: 21:00:00</i></div>`)[0];
                popup_e20626e609e494e089a6b0e9d8a16571.setContent(html_6ea963e2ce8ae783b0f4b3fd44703d6c);
            
        

        marker_40d3e8c5a2c6cb2e4058337291bb2523.bindPopup(popup_e20626e609e494e089a6b0e9d8a16571)
        ;

        
    
    
            marker_40d3e8c5a2c6cb2e4058337291bb2523.bindTooltip(
                `<div>
                     Bad Bunny Night  (1/14)
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_143d00906949c9fb706cceb63c095d2a = L.marker(
                [34.0473, -118.24799],
                {}
            ).addTo(map_7f3ed53c080fc7d1f19aa3f6f4c39061);
        
    
        var popup_ec9ea422d8904825e9b4b8ae6e939e1f = L.popup({"maxWidth": 100, "minWidth": 100});

        
            
                var html_3ccbdf4b9a9ba0a18939a47c8d9b4cad = $(`<div id="html_3ccbdf4b9a9ba0a18939a47c8d9b4cad" style="width: 100.0%; height: 100.0%;"><i>Fecha: 2023-01-13<br>Hora: 22:00:00</i></div>`)[0];
                popup_ec9ea422d8904825e9b4b8ae6e939e1f.setContent(html_3ccbdf4b9a9ba0a18939a47c8d9b4cad);
            
        

        marker_143d00906949c9fb706cceb63c095d2a.bindPopup(popup_ec9ea422d8904825e9b4b8ae6e939e1f)
        ;

        
    
    
            marker_143d00906949c9fb706cceb63c095d2a.bindTooltip(
                `<div>
                     Bad Bunny Night (18+)  (2/14)
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_1b0069d9f807c97793cf174b5b4976c0 = L.marker(
                [32.22193527, -110.96641541],
                {}
            ).addTo(map_7f3ed53c080fc7d1f19aa3f6f4c39061);
        
    
        var popup_8a02407d3f23d9248373e1032d504182 = L.popup({"maxWidth": 100, "minWidth": 100});

        
            
                var html_b9f214a2645007e42dcc3e3bc3370123 = $(`<div id="html_b9f214a2645007e42dcc3e3bc3370123" style="width: 100.0%; height: 100.0%;"><i>Fecha: 2023-03-10<br>Hora: 21:00:00</i></div>`)[0];
                popup_8a02407d3f23d9248373e1032d504182.setContent(html_b9f214a2645007e42dcc3e3bc3370123);
            
        

        marker_1b0069d9f807c97793cf174b5b4976c0.bindPopup(popup_8a02407d3f23d9248373e1032d504182)
        ;

        
    
    
            marker_1b0069d9f807c97793cf174b5b4976c0.bindTooltip(
                `<div>
                     Bad Bunny Birthday Bash  (3/14)
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_7f30aa9182d6062f4c6c4973b97851a3 = L.marker(
                [39.058117, -94.586391],
                {}
            ).addTo(map_7f3ed53c080fc7d1f19aa3f6f4c39061);
        
    
        var popup_c0718e95aa7af68c60c48d7eba1d9905 = L.popup({"maxWidth": 100, "minWidth": 100});

        
            
                var html_22c64a70a40ecd47ec319f21e01ccba4 = $(`<div id="html_22c64a70a40ecd47ec319f21e01ccba4" style="width: 100.0%; height: 100.0%;"><i>Fecha: 2023-03-10<br>Hora: 20:00:00</i></div>`)[0];
                popup_c0718e95aa7af68c60c48d7eba1d9905.setContent(html_22c64a70a40ecd47ec319f21e01ccba4);
            
        

        marker_7f30aa9182d6062f4c6c4973b97851a3.bindPopup(popup_c0718e95aa7af68c60c48d7eba1d9905)
        ;

        
    
    
            marker_7f30aa9182d6062f4c6c4973b97851a3.bindTooltip(
                `<div>
                     Bad Bunny Bday Bash  (4/14)
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_cdf003c4c01c6687b3f3bc24623c187e = L.marker(
                [32.719404, -117.167835],
                {}
            ).addTo(map_7f3ed53c080fc7d1f19aa3f6f4c39061);
        
    
        var popup_c955ebab67e4511f0a447730fe6b456a = L.popup({"maxWidth": 100, "minWidth": 100});

        
            
                var html_a08d7bb293adc036560a00c9885b7fcf = $(`<div id="html_a08d7bb293adc036560a00c9885b7fcf" style="width: 100.0%; height: 100.0%;"><i>Fecha: 2023-01-20<br>Hora: 21:00:00</i></div>`)[0];
                popup_c955ebab67e4511f0a447730fe6b456a.setContent(html_a08d7bb293adc036560a00c9885b7fcf);
            
        

        marker_cdf003c4c01c6687b3f3bc24623c187e.bindPopup(popup_c955ebab67e4511f0a447730fe6b456a)
        ;

        
    
    
            marker_cdf003c4c01c6687b3f3bc24623c187e.bindTooltip(
                `<div>
                     Club 90s Presents Bad Bunny Night  (5/14)
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_bad361fd5f5065405bdc0b7c0acfe40d = L.marker(
                [43.074566, -89.380978],
                {}
            ).addTo(map_7f3ed53c080fc7d1f19aa3f6f4c39061);
        
    
        var popup_0df9dc1882e7ce1e2b732b0dcda4ae3c = L.popup({"maxWidth": 100, "minWidth": 100});

        
            
                var html_e954ad05c685d06f8689f8d5b378839e = $(`<div id="html_e954ad05c685d06f8689f8d5b378839e" style="width: 100.0%; height: 100.0%;"><i>Fecha: 2023-01-27<br>Hora: 21:00:00</i></div>`)[0];
                popup_0df9dc1882e7ce1e2b732b0dcda4ae3c.setContent(html_e954ad05c685d06f8689f8d5b378839e);
            
        

        marker_bad361fd5f5065405bdc0b7c0acfe40d.bindPopup(popup_0df9dc1882e7ce1e2b732b0dcda4ae3c)
        ;

        
    
    
            marker_bad361fd5f5065405bdc0b7c0acfe40d.bindTooltip(
                `<div>
                     Noche de Verano Sin Ti: Celebración de Bad Bunny!  (6/14)
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_672fc5bccb0a310e8c91c43d0002853f = L.marker(
                [38.952184, -92.327842],
                {}
            ).addTo(map_7f3ed53c080fc7d1f19aa3f6f4c39061);
        
    
        var popup_1f277ac6a1c91c8bdfea37e34c80e745 = L.popup({"maxWidth": 100, "minWidth": 100});

        
            
                var html_602a158bb164a254a8c11b040d237a13 = $(`<div id="html_602a158bb164a254a8c11b040d237a13" style="width: 100.0%; height: 100.0%;"><i>Fecha: 2023-01-28<br>Hora: 21:00:00</i></div>`)[0];
                popup_1f277ac6a1c91c8bdfea37e34c80e745.setContent(html_602a158bb164a254a8c11b040d237a13);
            
        

        marker_672fc5bccb0a310e8c91c43d0002853f.bindPopup(popup_1f277ac6a1c91c8bdfea37e34c80e745)
        ;

        
    
    
            marker_672fc5bccb0a310e8c91c43d0002853f.bindTooltip(
                `<div>
                     Noche de Verano Sin Ti: Celebración de Bad Bunny!  (7/14)
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ebcfafe9670ef86d7b3845695c7e1360 = L.marker(
                [42.36422, -71.10133],
                {}
            ).addTo(map_7f3ed53c080fc7d1f19aa3f6f4c39061);
        
    
        var popup_379e4f9fe8729fdffbf4c9f4df580f33 = L.popup({"maxWidth": 100, "minWidth": 100});

        
            
                var html_c10a610b0cac8e3fc2dcb73da74b40d7 = $(`<div id="html_c10a610b0cac8e3fc2dcb73da74b40d7" style="width: 100.0%; height: 100.0%;"><i>Fecha: 2023-01-21<br>Hora: 21:00:00</i></div>`)[0];
                popup_379e4f9fe8729fdffbf4c9f4df580f33.setContent(html_c10a610b0cac8e3fc2dcb73da74b40d7);
            
        

        marker_ebcfafe9670ef86d7b3845695c7e1360.bindPopup(popup_379e4f9fe8729fdffbf4c9f4df580f33)
        ;

        
    
    
            marker_ebcfafe9670ef86d7b3845695c7e1360.bindTooltip(
                `<div>
                     Noche De Verano Sin Ti (Bad Bunny Night)  (8/14)
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_9cbf5ab4638cb1fde5b1a7e02393810f = L.marker(
                [41.910305, -87.677985],
                {}
            ).addTo(map_7f3ed53c080fc7d1f19aa3f6f4c39061);
        
    
        var popup_e8fa15b97ec6ece78f5683a87dba90cd = L.popup({"maxWidth": 100, "minWidth": 100});

        
            
                var html_a95bb3f5919383dca6f7dc303001e595 = $(`<div id="html_a95bb3f5919383dca6f7dc303001e595" style="width: 100.0%; height: 100.0%;"><i>Fecha: 2023-01-14<br>Hora: 22:00:00</i></div>`)[0];
                popup_e8fa15b97ec6ece78f5683a87dba90cd.setContent(html_a95bb3f5919383dca6f7dc303001e595);
            
        

        marker_9cbf5ab4638cb1fde5b1a7e02393810f.bindPopup(popup_e8fa15b97ec6ece78f5683a87dba90cd)
        ;

        
    
    
            marker_9cbf5ab4638cb1fde5b1a7e02393810f.bindTooltip(
                `<div>
                     NOCHE DE VERANO SIN TI: BAD BUNNY NIGHT  (9/14)
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a87a8310ee17bcf0203dae6596919fd5 = L.marker(
                [36.8493416, -76.0194075],
                {}
            ).addTo(map_7f3ed53c080fc7d1f19aa3f6f4c39061);
        
    
        var popup_2350d7c61fd710c31ee69b00028a00cd = L.popup({"maxWidth": 100, "minWidth": 100});

        
            
                var html_7e32b54c1be0eee31f2b6561f2c75a23 = $(`<div id="html_7e32b54c1be0eee31f2b6561f2c75a23" style="width: 100.0%; height: 100.0%;"><i>Fecha: 2023-03-10<br>Hora: 23:00:00</i></div>`)[0];
                popup_2350d7c61fd710c31ee69b00028a00cd.setContent(html_7e32b54c1be0eee31f2b6561f2c75a23);
            
        

        marker_a87a8310ee17bcf0203dae6596919fd5.bindPopup(popup_2350d7c61fd710c31ee69b00028a00cd)
        ;

        
    
    
            marker_a87a8310ee17bcf0203dae6596919fd5.bindTooltip(
                `<div>
                     Noche de Verano Sin Ti - A Bad Bunny Birthday Bash  (10/14)
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_457c8fc1ec991d20ea22c03ee21d2c3a = L.marker(
                [33.99647, -118.45786],
                {}
            ).addTo(map_7f3ed53c080fc7d1f19aa3f6f4c39061);
        
    
        var popup_769a0c6ecf9ce3c192726e432448d638 = L.popup({"maxWidth": 100, "minWidth": 100});

        
            
                var html_d22a511002713ef889e12d71bd0945fc = $(`<div id="html_d22a511002713ef889e12d71bd0945fc" style="width: 100.0%; height: 100.0%;"><i>Fecha: 2023-01-20<br>Hora: 23:00:00</i></div>`)[0];
                popup_769a0c6ecf9ce3c192726e432448d638.setContent(html_d22a511002713ef889e12d71bd0945fc);
            
        

        marker_457c8fc1ec991d20ea22c03ee21d2c3a.bindPopup(popup_769a0c6ecf9ce3c192726e432448d638)
        ;

        
    
    
            marker_457c8fc1ec991d20ea22c03ee21d2c3a.bindTooltip(
                `<div>
                     Bad Bunny x Rauw Alejandro Los Reyes del Reggaeton  (11/14)
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4c34534fbc61543114f12ed66133a2d4 = L.marker(
                [36.175636, -86.755652],
                {}
            ).addTo(map_7f3ed53c080fc7d1f19aa3f6f4c39061);
        
    
        var popup_6706176209d11f563de22bd2141e327a = L.popup({"maxWidth": 100, "minWidth": 100});

        
            
                var html_09b51592bd35fefe47fa71bc96bc6776 = $(`<div id="html_09b51592bd35fefe47fa71bc96bc6776" style="width: 100.0%; height: 100.0%;"><i>Fecha: 2023-03-04<br>Hora: 21:00:00</i></div>`)[0];
                popup_6706176209d11f563de22bd2141e327a.setContent(html_09b51592bd35fefe47fa71bc96bc6776);
            
        

        marker_4c34534fbc61543114f12ed66133a2d4.bindPopup(popup_6706176209d11f563de22bd2141e327a)
        ;

        
    
    
            marker_4c34534fbc61543114f12ed66133a2d4.bindTooltip(
                `<div>
                     ☀️BAD BUNNY X RAUW ALEJANDRO🪐 Dance Party  (12/14)
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b55d279934113f49a12ef68701a43108 = L.marker(
                [33.451777, -112.076837],
                {}
            ).addTo(map_7f3ed53c080fc7d1f19aa3f6f4c39061);
        
    
        var popup_c19ec6bb9284e46915db684a7c7324c1 = L.popup({"maxWidth": 100, "minWidth": 100});

        
            
                var html_7e70d3325d171fc7438911185f5977c6 = $(`<div id="html_7e70d3325d171fc7438911185f5977c6" style="width: 100.0%; height: 100.0%;"><i>Fecha: 2023-01-13<br>Hora: 22:00:00</i></div>`)[0];
                popup_c19ec6bb9284e46915db684a7c7324c1.setContent(html_7e70d3325d171fc7438911185f5977c6);
            
        

        marker_b55d279934113f49a12ef68701a43108.bindPopup(popup_c19ec6bb9284e46915db684a7c7324c1)
        ;

        
    
    
            marker_b55d279934113f49a12ef68701a43108.bindTooltip(
                `<div>
                     BAD BUNNY NIGHT W/ DJ AJA CRUZ // REGGAETON / HIP HOP / URBANO  (13/14)
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_868352cb32f20cf23a2728d09413ed8e = L.marker(
                [39.985866, -83.005629],
                {}
            ).addTo(map_7f3ed53c080fc7d1f19aa3f6f4c39061);
        
    
        var popup_05f7bae37945ef4fd93d60ae4d032a24 = L.popup({"maxWidth": 100, "minWidth": 100});

        
            
                var html_7300bd110726880859a903ca22d45f4e = $(`<div id="html_7300bd110726880859a903ca22d45f4e" style="width: 100.0%; height: 100.0%;"><i>Fecha: 2023-01-14<br>Hora: 21:00:00</i></div>`)[0];
                popup_05f7bae37945ef4fd93d60ae4d032a24.setContent(html_7300bd110726880859a903ca22d45f4e);
            
        

        marker_868352cb32f20cf23a2728d09413ed8e.bindPopup(popup_05f7bae37945ef4fd93d60ae4d032a24)
        ;

        
    
    
            marker_868352cb32f20cf23a2728d09413ed8e.bindTooltip(
                `<div>
                     Noche de Verano Sin Ti (Bad Bunny Night) - A DANCE PARTY!  (14/14)
                 </div>`,
                {"sticky": true}
            );
        
</script>
</html>